/* Body styles */
body {
    /* background-color: #f0f0f0; Light gray background color */
    /* background-color: #98ac7c; */
    background-color: #f3ffe3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font family */
    margin: 0;
    padding: 0;
}

/* Heading styles */
h1 {
    text-align: center;
    padding: 20px 0;
    color: #98ac7c; 
}

/* SVG styles */
.svg-group rect {
    stroke: #4a90e2; /* Blue stroke color */
    fill: #ffffff; /* White fill color */
    stroke-width: 2;
    rx: 8px; /* Horizontal radius for rounded corners */
    ry: 8px; /* Vertical radius for rounded corners */
    transition: fill 0.3s ease, stroke 0.3s ease; /* Transition for fill and stroke */
}

.svg-group text {
    font-size: 16px; /* Font size */
    text-anchor: middle;
    fill: #4a90e2; /* Blue text color */
    transition: fill 0.3s ease; /* Transition for text fill */
}

.svg-line,
.svg-polyline {
    stroke: #4a90e2; /* Blue stroke color */
    stroke-width: 2;
    transition: stroke 0.3s ease; /* Transition for stroke */
}

/* Hover and Focus Styles */
.svg-group:hover polyline,
.svg-group:focus polyline,
.svg-group:hover line,
.svg-group:focus line,
.svg-group:hover rect,
.svg-group:focus rect,
.svg-group:hover polygon,
.svg-group:focus polygon {
    stroke: #4a90e2; /* Blue stroke color */
    fill: #cce6ff; /* Light blue fill color */
}

.svg-group:hover g text,
.svg-group:focus g text {
    font-weight: bold;
}

.svg-group:hover polygon,
.svg-group:focus polygon {
    fill: rgba(76, 155, 255, 0.3); /* Light blue fill color with transparency */
}


/* Center the image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some spacing */
}

/* Additional styles for the image */
.sitemap-img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

/* Hover effect */
.sitemap-img:hover {
    transform: scale(1.05); /* Scale up the image on hover */
}

/* Styles for the SVG */
.sitemap-svg {
    /* Add specific styles for the SVG if needed */
}




/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.gallery .gallery-item {
    width: calc(50% - 20px); /* Adjusted width for two columns with margin */
    height: 250px; /* Fixed height for consistent display */
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
    position: relative; /* Ensure overlay position relative to gallery item */
}

.gallery .gallery-item img {
    width: 100%; /* Image width set to 100% of parent container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.gallery .gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.gallery .gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}
.gallery .gallery-item .overlay p{
    padding: 2rem;
    font-weight: 400;
}

.gallery .gallery-item:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}


/* Content Page */
.global-health-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #F3FFE3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.global-health-container h1 {
    color: #333;
    text-align: center;
}

.global-health-container h2 {
    color: #555;
}

.global-health-container p {
    line-height: 1.6;
}

.global-health-container .image {
    text-align: center;
    margin-bottom: 20px;
}

.global-health-container img {
    max-width: 100%;
    height: auto;
}



/* navbar */

.custom-header {
    background-color: #98ac7c;
    padding: 10px;
}
.custom-header h1 {
    font-size: 2px; /* Set heading size */
    margin: 0; /* Remove default margin from heading */
}

.custom-header h1 a { /* Assuming logo is wrapped in an anchor tag */
    text-decoration: none; /* Remove underline from logo link */
    color: inherit; /* Inherit text color from header */
}
.custom-header .logo img {
    display: block;
    margin-left: 100px;
}
.custom-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-header .nav-items {
    margin-right: 100px;
}
.custom-header .nav-items li {
    display: inline-block;
    margin-right: 20px;
}

.custom-header .nav-items a {
    color: #F3FFE3;
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
}

.custom-header .nav-items a:hover {
    background-color: #F3FFE3;
    color: darkgreen;
}


.custom-header .nav-items .active {
    background-color: #98ac7c;
    color: #f1f1f1;
    text-decoration: underline;
}
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: black;  /*Set font color to black */
}

footer p {
    margin: 5px;
    color: black;
}

footer a {
    text-decoration: none;
    color: black; /* Set font color to black */
}

    footer a:hover {
        text-decoration: underline; /* Underline link on hover */
    }

footer address {
    color: black; /* Set font color to black */
}

footer #footer-button {
    background-color: black;
    color: darkolivegreen;
    border: solid 3px;
    border-radius: 5px;
    text-align: right;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 20px;

    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

footer #footer-button:hover {
    background-color: gray;
}
